.signup {
    background: url('../assets/loginSignUpCover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.767);
    z-index: 0;
}
